// Navigation code here
nav{.flex(column,center,center);
  position:fixed;
  margin-bottom:50px;
  width:100%;
  background-color:#F6F6F6;
  padding:2rem;

    position:relative;}
  h1{font-size:4rem;
    margin-bottom:25px;

      color:#F94746;}//tiny
  }//h1
  ul{.flex(row,space-between,center);

  }//ul

  a{
    color:#464A67;
    margin:2rem;
    font-size:2rem;
    text-decoration:none;

  }//a

